.inDeveloping {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.inDeveloping p {
    font-size: 42px;
    font-weight: 200;
    margin-top: 30px;
}

.inDeveloping img {
    height: 80%;
}


@media(max-width: 992px) {
    .inDeveloping p {
        font-size: 32px;
    }

    
}

@media(max-width: 720px) {
    .inDeveloping p {
        font-size: 22px;
    }
    .inDeveloping img {
        height: 55%;
    } 
}